<!--Publications Journal Papers-->

<!DOCTYPE html>
<html lang="ko">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>IE Lab Publications</title>

        <!-- Core theme CSS (includes Bootstrap)-->
<!--        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrappub.min.css' %}" media="screen">-->
        <link rel="stylesheet" href="/static/blog/css/pub.css" media="screen">

    </head>
    {% include 'blog/navbar.html' %}
        <body style="overflow-x: hidden">
       <header class="pb-5 bg-image-full" style="padding-bottom: 21rem !important; margin-left: -60px !important; background-image: url('/static/pages/images/world.jpg');">
        </header>
        <!-- Content section-->
        <div class="find-btn">
            <button type="button" class="find-btn2" onclick="location.href='/publications'" style="width: 20%;">Journal Papers</button>
            <button type="button" class="find-btn2" onclick="location.href='/publicationsCon'" style="width: 20%;">Conference Papers</button>
            <button type="button" class="find-btn1" onclick="location.href='/publicationsPatents'" style="width: 20%;">Patterns</button>
        </div>
        <section class="py-5">
            <hr/> <!-- 헤드라인 -->
            <div class="container" style="margin-bottom: 2rem!important;">
                <h4>- International</h4>
                <div class="row1" style="border:2px solid gray; border-radius: 10px; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; margin-bottom: 20px;">
                    <div class="col1" style="position: relative; width: 100%; padding-top: 5px; padding-bottom: 6px; padding-left: 15px; padding-right: 13px;">
                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2022</b></p> <!-- 년도 -->
                        <p class="lead1">- Chung-Pyo Hong, "Anti-Collision Control System for Unmanned Aerial Vehicle based on Reinforcement Learning", 8th ICAEIC-2022</p>
                        <p class="lead1">
                            - Jesung Lim, Chung-Pyo Hong, "GAN-based area restoration technique for recognizing partially occluded objects", 9th ICAEIC-2022
                        </p>
                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2021</b></p> <!-- 년도 -->
                        <p class="lead1">
                            - Jaehyeon Park, Chung-Pyo Hong, and Howoong Lee, "A CNN based Fertility-indicating Pattern Recognition in Female Saliva Samples", EEECS2021
                        </p>
                        <p class="lead1">
                            - Hyeongjin Kim, Howoong Lee, and Chung-Pyo Hong, "A Robust Edge Detection Algorithm for Observation-marker Recognition in Noisy Image Samples", EEECS2021
                        </p>
                        
                        <p class="lead1">
                            -  In-Pyo Cho, Chung-Pyo Hong, Howoong Lee, "An Efficient Multi-OS Management Scheme based on Paravirtualization for Smart Marine Navigation", EEECS2021
                        </p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="container" style="margin-bottom: 2rem!important;">
                <h4>- Domestic</h4>
                <div class="row1" style="border:2px solid gray; border-radius: 10px; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; margin-bottom: 20px;">
                    <div class="col1" style="position: relative; width: 100%; padding-top: 5px; padding-bottom: 6px; padding-left: 15px; padding-right: 13px;">
                        <p style="margin-top: 10px;margin-bottom: 0rem;"><b>2022</b></p> <!-- 년도 -->
                        
                        <p class="lead1">
                            - 임재성, 송민석, 홍충표, "GAN 마스크 제거 학습을 이용한 얼굴인식 기법", 2022 한국차세대컴퓨팅학회 춘계학술대회
                        </p>
                    </div>
                </div>
            </div>
            
<!--        </header>-->
        </section>

        <!-- Image element - set the background image for the header in the line below-->
        <!-- Footer-->
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; IE Lab WebSite 2022
            </p>
        </div>
    </footer>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- /Bootstrap js -->
    </body>
</html>
